@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}
@media (max-width: 75em) {
    body {
      font-size: 60%;
    }
  }
  @media (max-width: 61.25em) {
    body {
      font-size: 58%;
    }
  }
  @media (max-width: 28.75em) {
    body {
      font-size: 55%;
    }
  }
header {
    background-color: #2d888b;
    color: #414141;
    width: 100%;
    height: 7vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 0 5px 30px RGBA(0,0,0,0.5);
}
#navbar {
    font-family: 'Bebas Neue', cursive;
}
a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 2rem;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
a:hover {
    text-decoration: none;
    color: #24cafd;
}
#welcome-section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #319194, #63a9ac, #8dc2c4, #b6dbdd, #def5f6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    font-size: 6rem;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 10px;
    transition: all 300ms ease-in-out 0ms;
}
h1:hover {
    color: #F9F871;
    font-size: 8rem;
}
h2 {    
    display: inline;
    letter-spacing: 3px;
    padding: 100px;
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
    font-style: italic;
    color: white;
}
h4 {
    font-size: 3rem;
}
/* Middle Arrow */
.arrow {
    border: solid #7e7e7e;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 30vh;
    animation-name: arrow;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    cursor: pointer;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  @keyframes arrow {
      0% {
            border: solid #7e7e7e;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 10px;
            position: relative;
            top: 31vh;
      }
      100% {
            border: solid #e46d6d;
            border-width: 0 8px 8px 0;
            display: inline-block;
            padding: 10px;
            position: relative;
            top: 36vh;
      }
  }
  #projects {
      background-image: linear-gradient(to top, #319194, #63a9ac, #8dc2c4, #b6dbdd, #def5f6);
      width: 100%;
      height: 100%;
      color:white;
      padding: 50vh 0 50vh 0;
      text-align: center;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-columns: repeat(12, minmax(240px, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 53vh;
    width: 100%;
    border-radius: 35px;
    box-shadow: 5px 5px 25px RGBA(0,0,0,0.5);
    transition-property: margin-top box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
  .project-card:hover {
      margin-top: 10%;
      box-shadow: 5px 35px 50px RGBA(0,0,0,0.6);
  }
  .project-tile {
    position: relative;
    display: block;
    margin-bottom: 3%;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    transition: color 1s ease;
  }
  .project-tile:hover {
      color:tomato;
  }
 img {
    border-radius: 35px 35px 0 0;
    width: 100%;
 }
  #profile_link {
      background-image: linear-gradient(to bottom, #319194, #0081a4, #006db7, #0053c0, #0029b0);
      color: white;
      padding: 29vh 0 29vh 0;
      text-align: center;
      font-family: 'Bebas Neue', cursive;   
  }
  #contact-social {
    margin-top: 5vh;
    height: 7vh;
    color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 30px RGBA(0,0,0,0.5);
    background-color: white;
    animation-name: contact-block;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes contact-block {
      0% {
        background-color: #319194;
      }
      25% {
        background-color:  #324B4C;
      }
      50% {
        background-color: #366264;
      }
      70% {
        background-color: #406566;
      }
      100% {
        background-color: #307536;
      }
  }
  .contact-links {
      padding: 0 2rem;
      text-align: center;
      font-size: 1rem;
      letter-spacing: 3px;
  }
  footer {
      height: 3vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 70%;
  }
