body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    scroll-behavior: smooth;
}

#main-doc {
    margin-left: 21%;
    padding: 1%;
    font-family: Roboto, monospace;
    font-weight: 400;
}

#navbar {
   width: 20%;
   height: 100vh;
   position: fixed;
   line-height: 30px;
   border-right: solid RGBA(0,0,0,0.16);

}

#li-nav {
    list-style: none;
    border-top: solid RGBA(0,0,0,0.16);
    padding-left: 20px;
    font-family: Roboto, monospace;
    font-weight: 800;
        
}   

a {
    text-decoration: none;
    transition-property: color, padding;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    padding-left: 0px;
    color: black;
}


a:hover {
    text-decoration: none; 
    padding-left: 15px;
    color: rgb(22, 131, 255);
}

ul {
    padding: 0;
}

#ul-main {
    padding-left: 30px;
}

table {
    padding-left: 10px;
}

header {
    font-size: 2rem;
    font-weight: 800;
    font-family: Open-Sans, monospace;
}


code {
    border-radius: 5px;
    background-color: #eee;
    font-family: courier, monospace;
    padding: 0 5px;
}


/* Images and videos */
img {
    width: 50%;
    height: 50%;
    min-width: 20%;
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

iframe {
    width: 50%;
    box-shadow: 5px 1px 15px rgba(0, 0, 0, 0.35);
}

footer {
    text-align: center;
    color: rgb(100, 141, 255);
    opacity: 70%;
    font-size: 10px;
}

/* For mobile phones: */
@media only screen and (max-width: 815px) {

    #navbar ul {
        height: 150px;
      }
    
      #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 78%;
        z-index: 1;
        border-bottom: 1px solid RGBA(0,0,0,0.16);
      }
      
      #main-doc {
        position: relative;
        margin-left: 15px;
        margin-top: 100%;
        padding: 0;
      }

      iframe {
         position: relative;
         display: block;
         margin: 0 auto;
         width: auto;
         height: auto;
        }
      }

   
