<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="product.landing.css">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FCC: Product Landing Page, Dimitry Zub</title>
</head>
<body>
  <header id="header">
    <div id="header-left">
      <img src="https://upload.wikimedia.org/wikipedia/uk/thumb/3/32/Minecraft_logo.svg/1280px-Minecraft_logo.svg.png" 
           alt="Minecraft logo"
           id="header-img">
    </div>
    
      <nav id="nav-bar">
        <h4> <a class="nav-link" href="#pricing">Pricing</a></h4>
        <h4> <a class="nav-link" href="#contact us">Contact us</a></h4> 
        <h4> <a class="nav-link" href="#showcase">Showcase</a></h4>
      </nav>
  </header>

  <div id="mid-container">
    <div id="mid-cont-left">
      <section id="pricing">
        <div id="mid-cont-left-top-1">
          <div id="mid-top-left-top-in-1">
            <img 
                 src="https://aux2.iconspalace.com/uploads/3d-grass-minecraft-icon-256.png" 
                 alt="basic level texture-pack"
                 id="mid-top-left-img-1">
          </div>
          <div id="mid-top-left-text-1">
            <h3>Still Better Texture-Pack</h3> 
            <h2>$100</h2>
            <ul>
              <li> Feel better than other textre pack users</li>
              <li> Better RTX GI</li>
              <li> Better Ray-tracing</li>
              <li> Chunk loader that performs</li>
            </ul>
            <button class="left-text-button-3">Buy</button>
          </div>
        </div>
        <div  id="mid-cont-left-top-2">
          <div id="mid-top-left-top-in-2">
            <img 
                 src="https://cdn.iconscout.com/icon/free/png-512/minecraft-15-282774.png"
                 alt="standart 'meh' texture-pack"
                 id="mid-top-left-img-2">
          </div>
          <div id="mid-top-left-text-2">
            <h3>Feels Good Texture-Pack</h3> 
            <h2>$300</h2>
            <ul>
              <li> No words needed to describe it</li>
              <li> Incredible RTX Global Illumination</li>
              <li> Feels like a blessing</li>
              <li> No after buy regret</li>
            </ul>
            <button class="left-text-button-3">Buy</button>
          </div>
        </div>
        <div id="mid-cont-left-top-3">
          <div id="mid-top-left-top-in-3">
            <img 
                 src="https://findicons.com/files/icons/2438/minecraft/256/minecraft.png"
                 alt="ulra life-like texture-pack"
                 id="mid-top-left-img-3">        
          </div>
          <div id="mid-top-left-text-3">
            <h3>Life-Like Texture-Pack</h3> 
            <h2>$400</h2>
            <ul>
              <li> Can't see difference between real-life</li>
              <li> For those who want real quality</li>
              <li> Instant envy from all players</li>
              <li> Ultra-mega-cyber texture quality</li>
            </ul>
            <button class="left-text-button-3">Buy</button>
            </div>
        </div>
      </section>
      <div id="mid-cont-left-bottom">
        <h3 id="h3-mid-cont-left-bottom">Want to have even better texture-pack? Write your email.</h3>
        
        <div id="mid-cont-left-bottom-1">
        <section id="contact us">
          <form id="form" action="https://www.freecodecamp.com/email-submit">
              <input
                name="email"
                id="email"
                type="email"
                placeholder="Your email"
                required
              />
                <input
                       type="submit" 
                       value="Show me your best" 
                       id="submit"
                       ></input>
        </section>
        </div>
      </div>
    </div>
    <section id="showcase">
        <iframe 
                id="video"
                width="585"
                height="330" 
                src="https://www.youtube.com/embed/NehSihoHCpc" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
    </section>
  </div>

  <footer>&copy; Created by newbie Dimitry Zub</footer>  

</body>
</html>
