/* Need to understand a lot, currently doing everything with a knowledge I know, saw or remember and things I understand. */

html,
body {
  background: #deffc8;
  background-image: linear-gradient(to right top, #94ff34, #b4fa1e, #d0f503, #e9ef00, #ffe900);
  height: 100%;
  width: 100%;
  margin: 0;
}
header {
  width: 99%;
  height: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 10px;
}
#header-left {
  width: 25%;
  height: 50%;
  margin-left: 0.5%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}
#header-img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  animation-name: header-img;
  animation-duration: 5s;
  animation-timing-function: ease;
}
#nav-bar {
  background: linear-gradient(0deg, rgba(46,46,46,1) 0%, rgba(66,66,66,1) 100%);
  border-radius: 10px;
  font-size: 20px;
  color: white;
  width: 25%;
  height: 70%;
  margin-right: 3.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.45);
  animation-name: nav-bar;
  animation-duration: 1s;
  animation-timing-function: ease;
  font-family: "Roboto", sans-serif;
}
.nav-link {
  font-weight: 600;
}
h2 {
  background: -webkit-linear-gradient(
    20deg,
    rgba(195, 93, 34, 1) 0%,
    rgba(253, 212, 45, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: -5%;
  padding: 2%;
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
}
h3 {
  color: white;
  text-align: center;
  font-size: 1vw;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  list-style-type: circle;
  color: white;
  line-height: 170%;
  margin-top: -10%;
  font-size: 0.5vw;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
#mid-container {
  width: 93%;
  height: 500px;
  position: absolute;
  top: 21%;
  left: 3.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#mid-cont-left {
  height: 93%;
  width: 65%;
  margin: 1% 0 1% 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#pricing {
  width: 98%;
  height: 75%;
  position: relative;
  margin-top: 0.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#mid-cont-left-bottom {
  background: linear-gradient(0deg, rgba(46,46,46,1) 0%, rgba(66,66,66,1) 100%);
  border-radius: 25px;
  width: 60%;
  height: 20%;
  margin-bottom: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.45);
  animation-name: email;
  animation-duration: 2s;
  animation-timing-function: ease;
}
#mid-cont-left-bottom-1 {
  width: 97%;
  height: 40%;
  padding-bottom: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#h3-mid-cont-left-bottom {
  color: white;
  margin-top: 1.5%;
}
#email {
  width: 45%;
}
#submit {
  background-color: #fee960;
  border-radius: 5px;
}
#mid-cont-left-top-1 {
  background-color: #2e2e2e;
  width: 30%;
  height: 90%;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: black; /*fallback*/
  border-color: #2c2c2c;
  box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.65);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  animation-name: subscription;
  animation-duration: 1s;
  animation-timing-function: ease;
}
#mid-cont-left-top-2 {
  background-color: #2e2e2e;
  width: 30%;
  height: 90%;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: black; /*fallback*/
  border-color: #2c2c2c;
  box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.65);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  animation-name: subscription;
  animation-duration: 1.2s;
  animation-timing-function: ease;
}
#mid-cont-left-top-3 {
  background-color: #2e2e2e;
  width: 30%;
  height: 90%;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: black; /*fallback*/
  border-color: #2c2c2c;
  box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.65);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  animation-name: subscription;
  animation-duration: 1.3s;
  animation-timing-function: ease;
}
#mid-top-left-top-in-1 {
  width: 20%;
  height: 20%;
  margin-top: 2%;
}
#mid-top-left-top-in-2 {
  width: 20%;
  height: 20%;
  margin-top: 2%;
}
#mid-top-left-top-in-3 {
  width: 20%;
  height: 20%;
  margin-top: 2%;
}
/* All small package images */
#mid-top-left-img-1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#mid-top-left-img-2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#mid-top-left-img-3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Container for text */
#mid-top-left-text-1 {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#mid-top-left-text-2 {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#mid-top-left-text-3 {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.left-text-button {
  border-radius: 55px;
}
.button {
  color: orange;
}
#showcase {
  height: 100%;
  width: 33%;
  margin: 1% 1% 1% 1%;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.65);
  animation-name: video;
  animation-duration: 2s;
  animation-timing-function: ease;
}
#video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer {
  height: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  opacity: 70%;
}
@keyframes subscription {
  0% {
    top: -200%;
  }
  100% {
    top: 0%;
  }
}
@keyframes email {
  0% {
    position: relative;
    top: 150%;
  }
  100% {
    position: relative;
    top: 0%;
  }
}
@keyframes video {
  0% {
    position: relative;
    left: 130%;
  }
  100% {
    position: relative;
    left: 0%;
  }
}
@keyframes nav-bar {
  0% {
    position: relative;
    left: 150%;
  }
  100% {
    position: relative;
    left: 0%;
  }
}
@keyframes header-img {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/* Need a much more practice with media queries. Currently doing everything blindly. */
@media screen and (max-width: 600px) {
  #nav-bar {
    float: none;
    width: 100%;
  }
}
